/* 共通 */

body {
    background-color: #fff;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

/* ログアウト時の画面 */

.login__form>a,
.register__form>a,
.login__title>h1,
.register__title>h1 {
    color: #646464;
}

.login__title>h1,
.register__title>h1 {
    letter-spacing: .2rem;
}

.login__form--button>button,
.register__form--button>button {
    width: 20%;
    background-color: #646464;
    color: #fff;
    border: #646464;
    font-size: 1.8rem;
}

/* ログイン時の画面 */

/* header */

.navbar {
    &[data-type="admin"] {
        background-color: #4AECF2;
    }

    &:not([data-type]) {
        background-color: #F26B4A;
    }
}

.navbar__items--btn {
    width: 8rem;
    height: 38px;
    border: solid 1px #000;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: #646464;
    white-space: nowrap;

    &[data-type="long-text"] {
        font-size: 1.2em;
    }

    &>a {
        color: #fff;
    }
}

.navbar--logout a {
    font-size: 1.5em;

    &[data-type="admin"] {
        color: #fff;
    }

    &:not([data-type]) {
        color: #000;
    }
}

.account {
    margin: 0 auto;
    border: solid 1px #ccc;

    &>p {
        color: #646464;
    }
}

.back__btn {
    margin-bottom: 8px;
}

.back__btn>a {
    font-size: 1.2em;
    color: #000;
}

.banner-area {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 400px;
    margin: 0 auto;
    border: solid 1px #ddd;

    div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
        z-index: 0;
        transition: all 1s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    div.is-active {
        opacity: 1;
    }
}

.banner-dot {
    width: 100%;
    text-align: center;
    margin: 10px auto 50px;
    padding-left: 0;

    li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        border-radius: 9999px;
        background-color: #866B6B;
        opacity: .4;
    }

    li.active {
        opacity: .8 !important;
    }
}

.banner-image>.classes-btn {
    width: 120px;
    padding: 0 10px;
    border: solid 1px #000;
    border-radius: 9999px;
    color: #fff;
}

.curriculum__top__btn--regist>button,
.curriculum__top__btn--grade>p {
    border-radius: 10px;
    border: 0px;
    color: #fff;
}

.curriculum__top__btn--regist>button {
    width: 110px;
    background-color: #169398;
}

.curriculum__top__btn--grade>p {
    width: 200px;
    font-size: 1.35em;
    text-align: center;

    &[data-num="1"],
    &[data-num="2"],
    &[data-num="3"],
    &[data-num="4"],
    &[data-num="5"],
    &[data-num="6"] {
        background-color: #89E5F5;
    }

    &[data-num="7"],
    &[data-num="8"],
    &[data-num="9"] {
        background-color: #77E5D4;
    }

    &[data-num="10"],
    &[data-num="11"],
    &[data-num="12"] {
        background-color: #94D058;
    }
}

.curriculum__class__btn button {
    width: 120px;
    border: solid 2px #666;
    border-radius: 110px;
    color: #fff;

    &[data-num="1"],
    &[data-num="2"],
    &[data-num="3"],
    &[data-num="4"],
    &[data-num="5"],
    &[data-num="6"] {
        background-color: #89E5F5;
    }

    &[data-num="7"],
    &[data-num="8"],
    &[data-num="9"] {
        background-color: #77E5D4;
    }

    &[data-num="10"],
    &[data-num="11"],
    &[data-num="12"] {
        background-color: #94D058;
    }
}

.curriculum__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(294px, 100%), 1fr));
    gap: 1rem;

    &>.curriculum__card__item {
        width: 300px;
        font-size: 1.2rem;

        img {
            width: 100%;
            object-fit: cover;
        }

        &>.curriculum__card__item--edit button {
            background-color: #169398;
            color: #fff;
            border: none;
            border-radius: 10px;
            font-size: 0.7em;
            padding: 10px;
        }
    }
}

.curriculum__form,
.delivery-time__form {
    font-size: 1.2rem;
}

.curriculum__form--class,
.curriculum__form--title,
.curriculum__form--url,
.curriculum__form--description {
    margin: 0 auto;
    width: 70%;
}

.curriculum__form--flag {
    margin: 0 auto;
    width: 50%;
}

.curriculum__form--regist>button,
.delivery-time__form--regist>button {
    width: 20%;
    background-color: #646464;
    color: #fff;
    border: #646464;
}

.delivery-time__form--date {
    display: flex;
    align-items: center;

    &>p {
        margin: 0;
    }

    &>input {
        position: relative;
        width: 200px;
        margin: 10px;
        text-align: center;

        &::before {
            content: attr(placeholder);
            color: #C2C2C2;
        }
    }

    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
    }

    input[type="date"].is-blank::-webkit-datetime-edit,
    input[type="time"].is-blank::-webkit-datetime-edit {
        display: block;

        input[type="date"] {
            color: #C2C2C2;
        }

    }

    input[type="date"]:not(.is-blank)::-webkit-datetime-edit,
    input[type="time"]:not(.is-blank)::-webkit-datetime-edit {
        display: none;
    }
}

.delivery-time__form--delete,
.delivery-time__form--remove {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: #FF0000;
    border: solid 1px #000;
    border-radius: 100%;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 4px;
        background-color: #fff;
        z-index: 9999;
    }
}

.delivery-time__form--add,
.add-banner {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: #07BC69;
    border: solid 1px #000;
    border-radius: 100%;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 4px;
        background-color: #fff;
        z-index: 9999;
    }

    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}


.article-list tr {
    height: 60px;
}

.edit-article,
.remove-article {
    border: 0px;
    border-radius: 10px;
    color: #fff;
}

.edit-article {
    background-color: #169398;
}

.remove-article {
    background-color: #FF0000;
}

.posted-date {
    position: relative;

    &::before {
        content: attr(placeholder);
        position: absolute;
        opacity: 0.5;
    }

    &::-webkit-datetime-edit-fields-wrapper {
        opacity: 1;
    }

    &[value] {
        opacity: 1;
    }

    &[type="date"] {
        position: relative;

        &::-webkit-calendar-picker-indicator {
            position: absolute;
            width: 100%;
            opacity: 0;
        }
    }
}

.delete-banner,
.remove-banner {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: #FF0000;
    border: solid 1px #000;
    border-radius: 100%;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 4px;
        background-color: #fff;
        z-index: 9999;
    }
}

.banner img {
    width: 200px;
    height: 130px;
    object-fit: contain;
}
