ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #F26B4A;
    font-size: 1.5rem;

}

.navbar-collapse ul li {
    width: 8rem;
    height: 38px;
    text-align: center;
    background-color: #168398;
    border-radius: 10px;
}

.navbar-collapse ul li a {
    display: block;
    height: 100%;
    white-space: nowrap;
    color: #fff;
}

.navbar-collapse ul li:last-child>a {
    margin: 0 auto;
    font-size: 0.6em;
}

.logout a {
    color: #000;
}

.banner-area {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: solid 1px #ddd;

    div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
        z-index: 0;
        transition: all 1s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    div.is-active {
        opacity: 1;
    }
}

.banner-dot {
    width: 100%;
    text-align: center;
    margin: 10px auto 50px;
    padding-left: 0;

    li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        border-radius: 9999px;
        background-color: #866B6B;
        opacity: .4;
    }

    li.active {
        opacity: .8 !important;
    }
}



.banner-image>.classes-btn {
    width: 120px;
    padding: 0 10px;
    border: solid 1px #000;
    border-radius: 9999px;
    color: #fff;
}
